header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    line-height: 32px;
    background-color: navy;
    color: white;
    text-align: center;
    padding: 30px 0;
    width: 75%;
    margin: auto;
    border-radius: 5px;
}
h3 {
    font-size: 16px;
    
}
h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: navy;
    color: white;
    font-size: 12px;
    padding: 12px 0;
    text-indent: 15px;
}
i {
    margin: 10px;
}
h6{
    margin-bottom: 3px;
}
#schedule-container {
    width: 75%;
    margin: auto;
    margin-top: 32px;
    border-radius: 5px;
    border: 1px solid navy;
}
#schedule-display {
    margin: 15px;
}
table {
    width: 100%;
}
tr:hover {
    background-color: lightgray;;
}
tr {
    text-align: center;
    border-bottom: 1px solid navy;
}
#add-container {
    width: 75%;
    margin: auto;
    margin-top: 32px;
    border-radius: 5px;
    border: 1px solid navy;
}
#add-display {
    margin: 15px;
}
input {
    margin-bottom: 10px;
    width: 100%;
}